<div class="summary"> 
    <div class="title">India <br>Report Summary</div>

    <div class="data-blocks">
    <div class="data-block-title">NewConfirmed</div>
    <div class="data-block-value">{{INData.NewConfirmed}}</div>
    </div>

    <div class="data-blocks">
        <div class="data-block-title">TotalConfirmed</div>
        <div class="data-block-value">{{INData.TotalConfirmed}}</div>
        </div>

        <div class="data-blocks">
            <div class="data-block-title">NewDeaths</div>
            <div class="data-block-value">{{INData.NewDeaths}}</div>
            </div>

            <div class="data-blocks">
                <div class="data-block-title">TotalDeaths</div>
                <div class="data-block-value">{{INData.TotalDeaths}}</div>
                </div>

                <div class="data-blocks">
                    <div class="data-block-title">NewRecovered</div>
                    <div class="data-block-value">{{INData.NewRecovered}}</div>
                    </div>

                    <div class="data-blocks">
                        <div class="data-block-title">TotalRecovered</div>
                        <div class="data-block-value">{{INData.TotalRecovered}}</div>
                        </div>
</div>
